@{
    ViewData["Title"] = "Home Page";
}

<div class="card border-light mb-3">
    <div class="py-1 my-2">
        <div class="col-lg-9 mx-auto">
            <h1 class="display-3 fw-bold mb-4">Utah Motor Vehicle Collision Report</h1>

            <p class="lead mb-4">
                This site reports on motor vehicle collisions occuring in Utah during three years: 2016, 2017, and 2019.
                It also includes potential solutions to help prevent more collisions in the future.
            </p>

            <h2 class="fw-bold mb-4 pt-2 text-muted">
                Utah has seen an increase in accidents caused by
                drinking and driving.
            </h2>

            <h3>Stats from the <span class="text-primary">Utah</span> Department of Health</h3>
            <ul class="lead mb-4">
                <li class="lead">A crash occurs in Utah every 8 minutes, a person is injured in a crash every 20 minutes, and a person dies in a crash every 33 hours.</li>
                <li class="lead">Motor vehicle crashes take a terrible toll on Utah families and communities and are a leading cause of injury-related death for Utahns.</li>
                <li class="lead">According to the Utah Highway Safety Office, in 2018 there were 62,074 motor vehicle crashes on public roadways in Utah, resulting in 25,645 injured persons and 260 deaths.</li>
            </ul>

            <img src="https://images.unsplash.com/photo-1543393716-375f47996a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
                 style="width:100%"
                 class="mb-4" />

            <p class="lead mb-4">
                There are many factors such as age, gender, time, day, intoxication level etc. that can increase the liklihood of an individual getting into a crash in Utah.
                Understanding these factors that play a crucial role in a car crash can help predict potential future collisions in the Utah area and help us know how we can stop them.
            </p>

            <h3>Crash Severity By Month</h3>
            <iframe allow="geolocation"
                    src="https://opendata.utah.gov/dataset/Crash-Severity-by-Month/hgj5-q7bc/embed?width=800&height=600"
                    height="600" style="width: 100%; padding: 0; margin: 0; border: none;"></iframe>

            <h1 class="display-3 fw-bold mb-4"></h1>
            <h3>Top 7 Impacts of Crash Severity based on our Model</h3>
            <ul class="lead mb-4">
                <ol>1. Day & Time</ol>
                <ol>2. Month</ol>
                <ol>3. Motorcyle Involved</ol>
                <ol>4. Pedestrian Involved</ol>
                <ol>5. Car Rolls Over</ol>
                <ol>6. Bicyclist Involved</ol>
                <ol>7. Teenager Involved</ol>
            </ul>

            <h3>What You Can Do</h3>
            <ul class="lead mb-4">
                <li>Promote less driving in peak sleepiness periods (12:00am - 4:00am).</li>
                <li>Look for alternate routes or new road construction to make rush hour less busy.</li>
                <li>Promote safe driving on holidays. The summer months tend to have more severe crashes.</li>
                <li>Provide motorcyclists with education to best navigate streets and highways.</li>
                <li>Make sure crosswalks are safe and improve lighting in dimmed areas where crashes have occured.</li>
                <li>Keep promoting wearing seatbelts and slowing down for turns.</li>
                <li>Enforce and inform drivers of laws to require a safe distance to pass bycicles.</li>
                <li>Promote legislation to restrict young teen drivers from driving in risky conditions</li>
            </ul>

        </div>
    </div>
</div>
