@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home"
       asp-action="Crashes"
       asp-route-cityName=""
       asp-route-pageNum="1"
       class="btn btn-sm btn-outline-primary mb-2 @(ViewBag.Cities == "" ? "btn-primary" :  "btn-outline-primary")">Home</a><br />

    @foreach (string city in Model)
    {
        <a asp-controller="Home"
           asp-action="Crashes"
           asp-route-cityName="@city"
           asp-route-pageNum="1"
           class="btn btn-sm @(ViewBag.SelectedType == city ? "btn-secondary" : "btn-outline-secondary")">@city</a>
    }
</div>
